[Unit]
Description=Traffic Reset Service for 3xUI (Python)
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/reset_daemon.py
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target